<!DOCTYPE html>
<html>

<head>
    <title>Ultrastar LionBear Resort</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>

<body class="bg-gray-900">
    <div class="container2">
        <h1 class="text-3xl font-bold mb-4 text-white">Ultrastar LionBear Resort</h1>

        <h2 class="text-2xl font-bold mb-4 text-white">Votre sélection</h2>
        <button id="reset" class="reset bg-blue-500 text-white px-4 py-2 rounded-md">Effacer</button>
        <table id="selection" class="w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">ARTISTE</th>
                    <th class="px-4 py-2">TITRE</th>
                    <th class="px-4 py-2">AJ/SUP</th>
                </tr>
            </thead>
            <tbody id="selection2"/>
        </table>
        <br/>
        <br/>
        <h2>Liste des chansons</h2>
        <form method="GET" action="/" class="mb-4">
            <div class="flex space-x-4">
                <div>
                    <label for="artist_filter" class="block text-sm font-medium text-white">Filtrer par Artiste :</label>
                    <input type="text" id="artist_filter" name="artist_filter" value="{{ artist_filter }}"
                        class="mt-1 px-4 py-2 border border-gray-300 rounded-md bg-gray-800 text-white focus:outline-none focus:ring focus:ring-blue-400">
                </div>
                <div>
                    <label for="song_filter" class="block text-sm font-medium text-white">Filtrer par Titre :</label>
                    <input type="text" id="song_filter" name="song_filter" value="{{ song_filter }}"
                        class="mt-1 px-4 py-2 border border-gray-300 rounded-md bg-gray-800 text-white focus:outline-none focus:ring focus:ring-blue-400">
                </div>
                <div>
                    <label for="sort_by" class="block text-sm font-medium text-white">Trier par :</label>
                    <select id="sort_by" name="sort_by"
                        class="mt-1 px-4 py-2 border border-gray-300 rounded-md bg-gray-800 text-white focus:outline-none focus:ring focus:ring-blue-400">
                        <option value="artist" {% if sort_by=='artist' %}selected{% endif %}>Artiste</option>
                        <option value="title" {% if sort_by=='title' %}selected{% endif %}>Titre</option>
                        <option value="genre" {% if sort_by=='genre' %}selected{% endif %}>Genre</option>
                        <option value="year" {% if sort_by=='year' %}selected{% endif %}>Année</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Filtrer"
                        class="mt-1 px-6 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600">
                </div>
            </div>
        </form>
        <p class="mb-2 text-white">Toutes les {{ songs|length }} chansons</p>
        <table id="allsongs" class="w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">ARTISTE</th>
                    <th class="px-4 py-2">TITRE</th>
                    <th class="px-4 py-2">SELECTION</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td class="px-4 py-2">{{ song.artist }}</td>
                    <td class="px-4 py-2">{{ song.title }}</td>
                    <td class="px-4 py-2">
                        <button class="preview bg-blue-500 text-white px-4 py-2 rounded-md"
                            mp3_path="{{ song.mp3_path }}">Ajouter</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
$(document).ready(function() {

    var currentAudio = null;
    var isLoading = false;
    var limit = 1000;
    var offset = limit;

    function resetSelection() {
        localStorage.setItem('ultrastar-selection','');
        restoreSelection();
    }
    
    function restoreSelection() {
        var dest_table = document.getElementById('selection2');
        var data = localStorage.getItem('ultrastar-selection');
        console.log(data);
        dest_table.innerHTML = data;
    }

    restoreSelection();

    function loadSongs() {
        if (isLoading) {
            return;
        }

        isLoading = true;

        $.ajax({
            url: '/api/songs',
            data: {
                offset: offset,
                limit: limit,
                artist_filter: $('#artist_filter').val(),
                song_filter: $('#song_filter').val(),
                sort_by: $('#sort_by').val()
            },
            success: function(data) {
                var songs = data.songs;
                console.log(songs.length + ' songs loaded')

                if (songs.length > 0) {
                    for (var i = 0; i < songs.length; i++) {
                        var song = songs[i];
                        var row = $('<tr></tr>');

                        // Create and append table cells for each song property
                        $('<td></td>').text(song.artist).appendTo(row);
                        $('<td></td>').text(song.title).appendTo(row);
                        $('<td></td>').html('<button class="preview bg-blue-500 text-white px-4 py-2 rounded-md" mp3_path="' + song.mp3_path + '">Ajouter</button>').appendTo(row);

                        row.appendTo('tbody');
                    }

                    offset += limit;
                } else {
                    // No more songs to load
                    $(window).off('scroll');
                }
            },
            complete: function() {
                isLoading = false;
            }
        });
    }


    // Handle scrolling to the bottom of the page
    $(window).scroll(function() {
        var threshold = 1000; // Adjust this value to define the threshold distance from the bottom

        if ($(window).scrollTop() + $(window).height() >= $(document).height() - threshold) {
            loadSongs();
        }
    });

    $(document).on('click', '#reset', function() {
        resetSelection();
    });

    // Handle preview button click event
    $(document).on('click', '.preview', function() {
        var dest_table = document.getElementById('selection2');
        var song = $(this).closest('tr');
        song.appendTo(dest_table);

        localStorage.setItem('ultrastar-selection',dest_table.innerHTML);

        
        // load the audio file from /api/mp3 using mp3_path as a argument
        //var mp3_path = $(this).attr('mp3_path');
        //var audio = new Audio('/api/mp3?mp3_path=' + mp3_path);

        // If there is a currently playing audio file, stop it
        //if (currentAudio) {
        //    currentAudio.pause();
        //}

        // Play the new audio file
        //audio.play();

        // Set the current audio file to the new audio file
        //currentAudio = audio;

        // Prevent the default button click behavior
        //return false;
    });

});


    </script>
</body>

</html>
